@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Host Grotesk", sans-serif;



}

* {
  transition: all 120ms linear;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* standard version */
}

/* * {
  @apply transition-colors duration-400;
} */
/* *{
  overflow-x: hidden;
} */

/* * { border: 1px solid red !important; } */